{% extends 'base.html' %}

{% block content %}

<h2>Product purchases</h2>
    <table class="table table-striped">
            <style>
                table {
          width: 100%;
        }
                h2 {text-align: center}
                table, th, td {
                  border: 1px solid black;
                  border-collapse: collapse;
                }
                </style>
            <tr>
                <th>Product</th>
                <th>Unit price</th>
                <th>Ordered</th>
                <th>Total price</th>
                <th>Customer</th>
                <th>Quantity</th>
                <th>Checkout</th>
            </tr>
        {% for product_purchases in product_purchases %}
        <tr>
            <td style="text-align:center">{{product_purchases.product}}</td>
            <td style="text-align:center">{{product_purchases.unit_price}}</td>
            <td style="text-align:center">{{product_purchases.ordered}}</td>
            <td style="text-align:center">{{product_purchases.total_price}}</td>
            <td style="text-align:center">{{product_purchases.customer}}</td>
            <td style="text-align:center">{{product_purchases.quantity}}</td>
            <td style="text-align:center">{{product_purchases.checkout}}</td>
        </tr>
        {% endfor %}
</table>
{% endblock content %}