{% extends 'base.html' %}

{% block content %}
<h2>Users</h2>
    <table class="table table-striped">
        <style>
            table {
      width: 100%;
    }
            h2 {text-align: center}
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            </style>
        <tr>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Password confirmation</th>
            
            
        </tr>
    {% for users in users %}
    <tr>
        
        <td style="text-align:center">{{users.email}}</td>
        <td style="text-align:center">{{users.phone}}</td>
        <td style="text-align:center">{{users.password}}</td>
        <td style="text-align:center">{{users.password_confirmation}}</td>
        
    </tr>
    {% endfor %}
    </table>
{% endblock content %}